@font-face {
    font-family: 'inter-m';
    src: url('Inter18pt-Medium.eot');
    src: url('Inter18pt-Medium.eot?#iefix') format('embedded-opentype'),
        url('Inter18pt-Medium.woff2') format('woff2'),
        url('Inter18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inter-xl';
    src: url('Inter18pt-ExtraLight.eot');
    src: url('Inter18pt-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Inter18pt-ExtraLight.woff2') format('woff2'),
        url('Inter18pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inter-t';
    src: url('Inter18pt-Thin.eot');
    src: url('Inter18pt-Thin.eot?#iefix') format('embedded-opentype'),
        url('Inter18pt-Thin.woff2') format('woff2'),
        url('Inter18pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inter-sb';
    src: url('Inter18pt-SemiBold.eot');
    src: url('Inter18pt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Inter18pt-SemiBold.woff2') format('woff2'),
        url('Inter18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inter-r';
    src: url('Inter18pt-Regular.eot');
    src: url('Inter18pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inter18pt-Regular.woff2') format('woff2'),
        url('Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inter-l';
    src: url('Inter18pt-Light.eot');
    src: url('Inter18pt-Light.eot?#iefix') format('embedded-opentype'),
        url('Inter18pt-Light.woff2') format('woff2'),
        url('Inter18pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

