.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.y-center {
    top: 50% !important;
    transform: translateY(-50%);
}

.x-center {
    left: 50%;
    transform: translateX(-50%);
}

.menu-container {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
}

.menu li {
    width: 25%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu li svg rect{
    x: 1;
    y: 2;
    rx: 10;
    ry: 10;
    width: 98%;
    height: 95%;
    fill: transparent;
    stroke-width: 2;
    stroke: #fff;
    stroke-dasharray: 364;
    stroke-dashoffset: 364;
}

.menu li svg:hover rect {
    animation: sround 0.7s ease-in-out forwards;
}

.rect-animation {
    animation: sround 0.7s ease-in-out forwards;
}

@keyframes sround {
    to {
        stroke-dashoffset: 0;
    }
}

.menu li a {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.mobile-menu-icon-container div[class ^= "line-"] {
    transition: all 0.3s ease-in;
    transform-origin: center;
    cursor: pointer;
}

.rotate-left {
    transform: rotate(-45deg);
}
.rotate-right {
    transform: rotate(45deg);
}


.skills-status-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
    gap: 3rem;
}

.form-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.contact-form-container {
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.down-arrow-icon-1::before, .down-arrow-icon-2::before {
    content: "";
    width: 15px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform: rotate(50deg);
    left: -11.5px;
    top: 10px;
}

.down-arrow-icon-1::after {
    content: "";
    width: 15px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform: rotate(-50deg);
    right: -11.5px;
    top: 10px;
} 

.down-arrow-icon-1::after, .down-arrow-icon-2::after {
    content: "";
    width: 15px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform: rotate(-50deg);
    right: -11.5px;
    top: 10px;
}


.portfolio-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    row-gap: 70px;
    transition: height 0.5s ease-in;
    height: 600px;
    padding-bottom: 20px !important;
    margin-bottom: 30px;
}

.portfolio-container > div[class ^= "project-"] {
    width: 500px;
    height: 500px;
    border: 1px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.show-more-project {
    grid-column: 2/3;
}

.show-more-btn, .submit {
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}



.header-img-animation {
    animation: header-img-animation 1s 0.2s ease-in forwards;
}

.header-text-animation {
    animation: header-text-animation 0.5s 1.5s ease-in forwards;
}

.hello-text {
    animation: header-text-animation 0.5s 1.5s ease-in forwards;
}

.my-name-text {
        animation: header-text-animation 1.5s 2s ease-in forwards;

}

.device-height {
    height: 100dvh !important;
}


[class *= "nav-fill"] {
    transition: width 0.6s ease-in;
    transition-delay: 0.2s;
}

@keyframes header-img-animation {
    to {
        top: 60px;
    }
}

@keyframes header-text-animation {
    to {
        width: 100%;
    }
}

